*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  #FDFFFF    ;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#logoText{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    padding: 5px;
    padding-bottom: 50px;
}

#logoText img{
    height: 50px;
    width: auto;
    padding-right: 5px;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#b3de81;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
.sidenav a {
    text-transform: uppercase;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
   
.sidenav a.active {
    background-color: #04AA6D;
    color: white;
}
  
.sidenav a:hover:not(.active) {
    background-color: #265c00 ;
    color: #FDFFFF;
}
  
#admin-dash {
    margin-left: 200px;
    padding: 40px 16px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#date-container{
    font-size: 1.5rem;
    background-color: #265c00ae;
    color: #FDFFFF;
    width: 400px;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#todo-container{
    margin-top: 20px;
    width: 400px;
    background-color: #265c00ae;
    color: white;
    display: flex;
    flex-direction: column;
}

#task-input {
    text-align: center;
    font-size: 2rem;
}

#task-input::placeholder{
    color: #265c00;
}

.list-item{
    list-style-type: none;
    padding-left: 10px;
    text-transform: uppercase;
}
.done {
    text-decoration: line-through;
}

#table-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

#table-container h1{
    font-size: 3rem;
    padding-bottom: 50px;
}

#client-info{
    border-collapse: collapse;
    width: 600px;
    margin-bottom: 20px;
}

#client-info th,#client-info td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}

#client-info th {
    background-color: #b3de81;
    text-align: center;
}

#create-client {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.input-client {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#client-form{
    width: 350px;
    background-color: #b3de81;
    padding: 10px;
    border-radius: 10px;
}

#client-form input{
    width: 250px;
    border-radius: 5px;
    margin-left:10px;
    height: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

#client-form label{
    width: 100px;
    margin-right: 10px;
    font-size: 1rem;
}

#create-client button{
    margin-top: 5px;
    font-size: 0.7rem;
    font-family:'Merriweather Sans', sans-serif;
    padding: 3px;
    border-radius: 5px;
    background-color:#FDFFFF;
    color: #265C00;
    border: none;
}
    
#create-client button:hover{
        background-color: #68a225ac;
        color: #FDFFFF;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}